# Google Apps Script Web App URL
# Get this after deploying Code.gs as a web app (see google-apps-script/Code.gs)
REACT_APP_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxHqG-jmu_3LvqU1TBFQJRHDzmSN02oGXWVYcH4GCdKetc4ejuHGlzxBPD5b9b9JEFQ/exec
